<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            COMP90024 PROJECT2
        </title>
        <link href="static/homestyle.css" rel="stylesheet">
    </head>
        <p>
            Cluster and Cloud Computing    
        </p>
        <p>
            COMP90024 
        </p>

        <h1>
            AUSTRSLIA SOCIAL MEDIA ANALYTICS
        </h1>
        <ul>
                <li>
                    <a href="analysis">Data Analysis</a>
                </li>
                <li>
                    <a href="member">Team Member</a>
                </li>
         </ul>
    
</html>