<!DOCTYPE html>
<html>
    <body>
    <title>
        Team members
    </title>
    <link href="static/member.css", rel="stylesheet">
    <h1>
        Team Members
    </h1>
    <main>
        <article>
            <h2>member number 1</h2>
            <ul>
                <li>
                    #
                </li>
                <li>
                    #
                </li>
            </ul>
            <h2>member number 2</h2>
            <ul>
                <li>
                    #
                </li>
                <li>
                    #
                </li>
            </ul>
            <h2>member number 3</h2>
            <ul>
                <li>
                    #
                </li>
                <li>
                    #
                </li>
            </ul>
            <h2>member number 4</h2>
            <ul>
                <li>
                    #
                </li>
                <li>
                    #
                </li>
            </ul>
            <h2>member number 5</h2>
            <ul>
                <li>
                    #
                </li>
                <li>
                    #
                </li>
            </ul>
        </article>

        <aside>
            <ul>
                <li>
                    <a href="home">Home Page</a> 
                </li>
                <li>
                    <a href="analysis">Data Analysis</a>
                </li>
                <li>
                    <a href="member">Team Members</a>
                </li>
            </ul>
        </aside>
    </main>
</body>
</html>